/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg: #FCF9F7; /* arka plan */
  --text: #0f172a; /* ana metin rengi */
}

html, body, #root {
  height: 100%;
  width: 100%;
}

html { scroll-behavior: smooth; }

body {
  margin: 0;
  min-height: 100%;
  background: var(--bg);
  color: var(--text);
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji","Segoe UI Emoji";
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Better defaults for media & form controls */
img, svg, video, canvas {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
